<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Endereço</title>
    <link rel="stylesheet" href="../static/adresspage.css">
    <script src="../static/addresspage.js" defer></script>
</head>
<body>

    <h2>Endereço</h2>
    <p style="margin-left:0.9rem; font-size: 0.8rem;">Digite o cep, preenchimento automático</p>
    <form class="form" action="" method="post">
        <input type="text" name="complemento" id="cep" placeholder="CEP">
        <input type="text" name="complemento" id="complemento" placeholder="Complemento">
        <input type="text" name="cidade" id="cidade" placeholder="Cidade">
        <input type="text" name="numero" id="numero" placeholder="Número">
        <input type="text" name="rua" id="rua" placeholder="Rua">
        <input type="text" name="estado" id="estado" placeholder="Estado">
        <button id="btnSubmit" type="submit" style="background-color: rgb(29, 131, 221); color: rgb(233, 229, 229);">SALVAR</button>
    </form>
    
</body>
</html>