<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body style="background-color: #181A2A;">

    <div class="grid" style="font-family: 'Lato', sans-serif; width: 100%; height: 100vh; align-content: center; text-align: center;">
        <a style="text-decoration: none; background: mediumslateblue; color: white; padding: 1.1rem; border-radius: 2px;" href="{{url_for('cad')}}">CRIAR</a>  
        <a style="text-decoration: none; background: mediumslateblue; color: white; padding: 1.1rem; border-radius: 2px;" href="{{url_for('login')}}">ENTRAR</a>
    </div>
</body>
</html>